numpy==1.23.0 
matplotlib==1.5.3 
requests 
multiprocess 
tqdm 
torch 
openai 
flask 
mistralai 
pandas
fastparquet
anthropic
transformers
networkx==1.7
vertexai
google-cloud-aiplatform
zstandard
scikit-learn
biopython